body {
	padding: 7% 0 0 0;
	background-size: 100%;
	background-color: #f8f8fa;
	background-repeat: no-repeat;
}
nav {
	display: inline-block;
}
img {
	padding: 10px 0 20px 0;
}
.navbar-nav {
	margin: 0 140px 0 0;
	font-family: "Roboto";
}
.logoNav {
	max-width: 2%;
	max-height: 100%;
	margin: 0 0 0 140px;
}
.logoTNav {
	max-width: 13%;
	max-height: 100%;
	padding:12px 5px 2px 15px;
}
.sideBar {
	font-size: 12px;
	border-right-style: solid;
	border-width: 1px;
	border-color: gray;
	margin: 0 0px 0 0;
}
.date {
	font-size: 20px;
	font-family: "Bebas Neue";
	background-color: #343A41;
	color: white;
	padding: 3px 0 3px 10px;
}
.categ {
	border-style: solid;
	border-width: 0.5px;
	border-color: silver;
	padding: 10px;
	margin: 5px 0 5px 0;
}
.titleS {
	font-family: "Roboto";
	letter-spacing: 0px;
	font-size: 12pt;
	line-height: 20%;
}
.categS {
	font-size: 13px;
	font-family: "Bebas Neue";
	color: white;
	padding: 1px 5px;
	margin: 0 5px 0 0;
}
.balS {
	background-color: #E3342C;
}
.opiS {
	background-color: #149146;
}
.latS {
	background-color: #5FBBD3;
}
.titleM {
	font-size: 40px;
	font-family: "Roboto";
	line-height: 70%;
}
.writerS {
	font-size: 14px;
	font-family: "Roboto";
	font-weight: 100;
	font-style: italic;
}
@media (max-width: 992px) {
	body {
		padding: 75px 0 0 0;
	}
	.logoNav {
		display:inline-block;
		float:left;
		margin: 0;
		padding:0;
		max-width: 18px;
		max-height: 100%;
	}
	.logoTNav {
		display:none;
		float:left;
		margin: 0;
		padding:0;
		max-width: 30px;
		max-height: 100%;
	}
	.navbar-nav {
		margin:0;
		display:inline-block;
		text-align: right;
	}
	.sideBar {
		display:none;
	}

}
@media (min-width: 992px) {
	#sidenav-left {
		height: 100vh;
	}
}
